/* navbar.component.css */
.navbar {
    background-color: #333;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  .logo h1 {
    margin: 0;
  }
  nav a:hover {
    text-decoration: underline;
  }
  